
    <h1>HOME</h1>
    <h2>lista productos</h2>
 <div class="container">

        {{#each docs}}
       
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt={{this.thumbnail}}>
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.description}}</p>
    <a href="/productDetails/?product={{this.ids}}" class="btn btn-primary">ir a detalles</a>
    <button onclick="addCart('{{this.ids}}')">Agregar Carrito</button>
  </div>
</div>

       
        {{/each}}
    </ul>
</div>    
<p>pagina {{page}} de {{totalPages}}</p>


{{#if hasPrevPage}}
<a href="/?page={{prevPage}}">Anterior</a>
 {{/if}}

{{#if hasNextPage}}
<a href="/?page={{nextPage}}">Siguiente</a>
 {{/if}}

<script src="/socket.io/socket.io.js"></script>
 <script>

  const socket =io();

  const addCart=(ids)=>{
  
       var cart=  localStorage.getItem("Cart");

        if(cart===null)
          {
             localStorage.setItem("Cart", "1");
             cart="1"
          }
    
    socket.emit("addCart",ids,cart)
     alert("producto agregado");
  }



 </script> 